Options -Indexes
RewriteEngine On

# Serve .html files without extension in URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]

# Clean 404
ErrorDocument 404 /404.html
